#header {
	background-color: blueviolet;
	padding-left: 5px;
	padding-right: 5px;
}
.page-footer {
	background-color: blueviolet;
}

.page-footer a {
	padding-left: 5px;
	padding-right: 5px;
}

#Carousel-2 li {
	background-color: blueviolet;
}
