#header {
	background-color: blueviolet;
	padding-left: 5px;
	padding-right: 5px;
}
.page-footer {
	background-color: blueviolet;
}

.page-footer a {
	padding-left: 5px;
	padding-right: 5px;
}

#Carousel-2 li {
	background-color: blueviolet;
}
.defaultForm {
	width: 90%;
	max-width: 1120px;
	height: 60vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.registros_container {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}
.defaultForm .container {
	display: flex;
	float: left;
	padding-right: 5px;
}
.defaultForm select {
	display: flex;
	border: none;
	border-radius: 2px;
}
.switch {
	width: 20%;
	display: inline;
}
.dataInput {
	float: right;
	padding-right: 5px;
}

.button {
	width: 100%;
	height: 60px;
	background: blueviolet;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-weight: 700;
	margin-top: 16px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	transition: filter 0.2s;
}

.button:hover {
	filter: brightness(90%);
}
